<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{text-align:center;}
        table,th,td{border:1px solid black; border-collapse:collapse; text-align:center;}
        table{width:1000px; margin:10px auto;}
    </style>
</head>
<body>
    <h2>학생리스트</h2>
    <table>
        <tr>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>
            <th>나이</th>
            <th>성별</th>
        </tr>
        <tr>
            <td>홍길동</td>
            <td>컴퓨터공학</td>
            <td>1</td>
            <td>20</td>
            <td>남</td>
        </tr>
    </table>
</body>
</html>