<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>학생등록 페이지</h2>
    <form action='/students/write/' method='post' name='frm'>
        {% csrf_token %}
        <label>이름</label>
        <input type='text' name='name'><br>
        <label>전공</label>
        <input type='text' name='major'><br>
        <label>학년</label>
        <input type='number' name='grade'><br>
        <label>나이</label>
        <input type='number' name='age'><br>
        <label>성별</label><br>
        <input type='radio' name='gender' value='남자' id='m'>
        <label for='m'>남자</label>
        <input type='radio' name='gender' value='여자' id='f'>
        <label for='f'>여자</label><br>
        <input type='submit' value='저장'>
        <a href='/'><button type='button'>HOME</button></a>
    </form>
</body>
</html>