{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="/">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="/kakaomap/list/" id="leftNavi1">카카오맵1</a></li>
					<li><a href="/kakaomap/list2/" id="leftNavi2">카카오맵2</a></li>
					<li><a href="/kakaomap/list3/" id="leftNavi3">카카오맵3</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>카카오맵</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>
					
					<div class="orderDivMt">
						<!-- 카카오맵 지도 그리기-->
						<div id="map" style="width:100%; height:400px; margin-top:10px;"></div>
					</div>
					<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9084027b26a8ba52e98db57f160b4de1"></script>
					<script>
						var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
						mapOption = { 
							center: new kakao.maps.LatLng(37.477188, 126.879735), // 지도의 중심좌표
							level: 3 // 지도의 확대 레벨
						};

						var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
						
						// 마커를 표시할 위치와 title 객체 배열입니다 
						var positions = [
							{
								title: '매머드커피', 
								latlng: new kakao.maps.LatLng(37.477347, 126.879647)
							},
							{
								title: '컴포즈커피', 
								latlng: new kakao.maps.LatLng(37.475981, 126.880174)
							},
							{
								title: '텃밭', 
								latlng: new kakao.maps.LatLng(33.450879, 126.569940)
							},
							{
								title: '근린공원',
								latlng: new kakao.maps.LatLng(33.451393, 126.570738)
							}
						];

						// 마커 이미지의 이미지 주소입니다
						var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
							
						for (var i = 0; i < positions.length; i ++) {
							
							// 마커 이미지의 이미지 크기 입니다
							var imageSize = new kakao.maps.Size(24, 35); 
							
							// 마커 이미지를 생성합니다    
							var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
							
							// 마커를 생성합니다
							var marker = new kakao.maps.Marker({
								map: map, // 마커를 표시할 지도
								position: positions[i].latlng, // 마커를 표시할 위치
								title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
								image : markerImage // 마커 이미지 
							});
						}
					</script>

					<div class="searchWrap">
						<div class="search">
							<ul>
								<li class="web"><img src="/static/images/txt/txt_search.gif" alt="search" /></li>
								<li class="se">
									<select>
										<option value="" />제목</option>
									</select>
								</li>
								<li><input type="text" class="searchInput" /></li>
								<li class="web"><a href="#"><img src="/static/images/btn/btn_search.gif" alt="검색" /></a></li>
								<li class="mobile"><a href="#"><img src="/static/images/btn/btn_search_m.gif" alt="검색" /></a></li>
							</ul>
						</div>
					</div>
					<!-- //포토 구매후기 -->


				</div>
			</div>
			<!-- //contents -->

		</div>
	</div>
	<!-- //container -->
	
{% endblock content %}

