{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> JARDIN SHOP </title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="JARDIN SHOP" />
<meta name="keywords" content="JARDIN SHOP" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />
<meta name='csrf-token' content='{{csrf_token}}' />
<link rel="stylesheet" type="text/css" href="/static/css/reset.css?v=Y" />
<link rel="stylesheet" type="text/css" href="/static/css/layout.css?v=Y" />
<link rel="stylesheet" type="text/css" href="/static/css/content.css?v=Y" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/static/js/top_navi.js"></script>
<script type="text/javascript" src="/static/js/left_navi.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.anchor.js"></script>

</head>
<body>


<div id="allwrap">
<div id="wrap">

	<div id="header">
		
		<div id="snbBox">
			<a href='/'>
				<h1><img src="/static/images/txt/logo.gif" alt="JARDIN SHOP" /></h1>
			</a>
			<div id="quickmenu">
				<div id="mnaviOpen"><img src="/static/images/btn/btn_mnavi.gif" width="33" height="31" alt="메뉴열기" /></div>
				<div id="mnaviClose"><img src="/static/images/btn/btn_mnavi_close.gif" width="44" height="43" alt="메뉴닫기" /></div>
				<ul>
					<li><a href="#">EVENT</a></li>
					<li><a href="#">CUSTOMER</a></li>
					<li><a href="#">COMMUNITY</a></li>
				</ul>
			</div>
			<div id="snb">
				<ul>
					<li><a href="#">LOGIN</a></li>
					<li><a href="#">JOIN</a></li>
					<li><a href="#">MY PAGE</a></li>
					<li><a href="#">CART</a></li>
				</ul>

				<div id="search">
					<input type="text" class="searchType" />
					<input type="image" src="/static/images/btn/btn_main_search.gif" width="23" height="20" alt="검색하기" />
				</div>
			</div>
		</div>
	</div>


	<!-- GNB -->
	<div id="gnb">
		
		<div id="top">
			<ul>
				<li class="brand t1"><a href="#" id="topNavi1">JARDIN’s BRAND</a>
					<ul id="topSubm1">
						<li><a href="#">클래스</a></li>
						<li><a href="#">홈스타일 카페모리</a></li>
						<li><a href="#">드립커피백</a></li>
						<li><a href="#">카페리얼 커피</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">카페리얼 음료</a></li>
						<li><a href="#">마일드커피백</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">카페포드</a></li>
						<li><a href="#">모히또파티</a></li>
						<li><a href="#">테이크아웃 카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi2">원두</a>
					<ul id="topSubm2">
						<li><a href="#">클래스</a></li>
						<li><a href="#">로스터리샵</a></li>
						<li><a href="#">커피휘엘</a></li>
						<li><a href="#">산지별 생두</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi3">원두커피백</a>
					<ul id="topSubm3">
						<li><a href="#">드립커피 로스트</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">마일드커피백</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi4">인스턴트</a>
					<ul id="topSubm4">
						<li><a href="#">까페모리</a></li>
						<li><a href="#">홈스타일카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi5">음료</a>
					<ul id="topSubm5">
						<li><a href="#">까페리얼</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">모히또</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi6">커피용품</a>
					<ul id="topSubm6">
						<li><a href="#">종이컵</a></li>
						<li><a href="#">커피필터</a></li>
						<li><a href="#">머신 등</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi7">선물세트</a></li>
				<li class="t2"><a href="#" id="topNavi8">대량구매</a></li>
			</ul>
		</div>

		<script type="text/javascript">initTopMenu();</script>
	</div>
	<!-- //GNB -->

	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">NOTICE</a></li>
					<li><a href="#" id="leftNavi2">1:1문의</a></li>
					<li><a href="#" id="leftNavi3">FAQ</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>NOTICE</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>

					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li>{{view.btitle}}</li>
								</ul>
							</div>
							<div class="day">
								<p class="txt">작성일<span>{{view.bdate|date:'Y.m.d'}}</span></p>
							</div>
						</div>

						<div class="viewContents">
							{{view.bcontent}}
						</div>

						{% if view.bfile %}
						<div class="viewContents">
							<img src='/media/{{view.bfile}}/' style='width:50%;'>
						</div>
						{% endif %}
					</div>


					<!-- 이전다음글 -->
					<div class="pnDiv web">
						<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
							<caption>이전다음글</caption>
							<colgroup>
							<col width="100px" />
							<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th class="pre">PREV</th>
									<td><a href="#">상품 재입고는 언제 되나요?</a></td>
								</tr>

								<tr>
									<th class="next">NEXT</th>
									<td>다음 글이 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //이전다음글 -->

					<script>
						$(function(){
							// 전역변수
							let cToken = $('meta[name="csrf-token"]').attr('content');
							let temp = 0;
							let id;
							let cno;
							let cdate;
							let ccontent;

							$('.replyBtn').click(function(){
								alert('댓글을 등록합니다.');
								// console.log($('.replynum').val());
								// console.log($('.replyTxt').val());
								let bno = '{{view.bno}}';
								let cpw = $('.replynum').val();
								let ccontent = $('.replyTxt').val();

								//ajax로 데이터를 django 서버로 전송
								$.ajax({
									url:'/comment/cwrite/',
									type:'post',
									headers:{'X-CSRFToken':cToken},
									data:{'id':'aaa','cpw':cpw,'ccontent':ccontent,'bno':bno},
									success:function(data){
										// alert('성공');
										// console.log(data);

										// 하단 댓글 리스트에 추가
										let hdata = ``
										hdata += `<ul id='${data.comment[0].cno}'><li class="name">${data.comment[0].member_id} <span>[${data.comment[0].cdate}]</span></li>
											<li class="txt">${data.comment[0].ccontent}</li>
											<li class="btn"><a class="rebtn updateBtn">수정</a><a class="rebtn deleteBtn data-cno='${data.comment[0].cno}'">삭제</a></li></ul>`;

										// html 태그 추가
										$('.replyBox').prepend(hdata);

										// 총 개수 1 추가
										let ccount = Number($('.cNum').text())+1
										$('.cNum').text(ccount);

									},
									error:function(){
										alert('실패');
									}

								}); //ajax선언

								// 데이터 삭제
								$('.replynum').val('');
								$('.replyTxt').val('');
								

							}); //replyBtn


							// 삭제버튼 클릭 시
							$(document).on('click','.deleteBtn',function(){
								if(confirm('정말 삭제하시겠습니까?')){
									// alert('하단 댓글을 삭제합니다.');
									console.log("하단댓글 번호",$(this).data('cno'));
									let cno = $(this).data('cno');
	
									// html에서 django로 데이터전송
									$.ajax({
										url:'/comment/cdelete/',
										type:'post',
										headers:{'X-CSRFToken':cToken},
										data:{'cno':cno},
										success:function(data){
											// alert('성공');
											// 하단댓글 html 삭제
											$(`#${cno}`).remove();

											// 총개수 1감소
											let ccount = Number($('.cNum').text())-1
											$('.cNum').text(ccount);

										},
										error:function(){
											alert('실패');
										}

									}); //ajax선언

								}; // if confirm

							}); //deleteBtn


							//수정버튼 클릭 시 수정페이지 호출
							$(document).on('click','.updateBtn',function(){
								if(temp==1){
									alert('다른 댓글 수정을 완료해 주세요.')
									return;
								}
								alert('댓글 수정을 진행합니다.');
								temp = 1;
								let cul = $(this).closest('ul');
								cno = cul.attr('id');
								id = cul.children('.name').text().split(' ')[0];
								cdate = cul.children('.name').children('span').text();
								ccontent = cul.children('.txt').text();
								console.log(cno);
								console.log(id,cdate,ccontent);

								let hdata = `
									<li class="name">${id} <span>${cdate}</span></li>
									<li class="txt"><textarea class="replyType replyUpdate">${ccontent}</textarea></li>
									<li class="btn">
										<a class="rebtn saveBtn">저장</a>
										<a class="rebtn cancelBtn">취소</a>
									</li>
										`;

								$(`#${cno}`).html(hdata);
								// 수정화면 닫힘
								temp = 0;
								
								
							}); // updateBtn
							
							// 취소버튼 클릭시
							$(document).on('click','.cancelBtn',function(){
								alert('하단댓글을 취소합니다.');
								console.log('id :',id)
								console.log('cno :',cno)
								console.log('cdate :',cdate)
								console.log('ccontent :',ccontent)

								// 기존 html 변경
								let hdata = ``;
								hdata += `<li class="name">${id} <span>${cdate}</span></li>
											<li class="txt">${ccontent}</li>
											<li class="btn"><a class="rebtn updateBtn">수정</a><a class="rebtn deleteBtn data-cno='${cno}'">삭제</a></li>`;
								
								$(`#${cno}`).html(hdata);

							}); //cancelBtn

							// 댓글 수정 저장
							$(document).on('click','.saveBtn',function(){
								alert('댓글을 저장합니다.');
								let update_c = $(this).closest('ul').children('.txt').children('.replyUpdate').text();
								console.log('수정된 내용 :',update_c);

								// 변경내용 장고 전송
							
								$.ajax({
									url:'/comment/cupdate/',
									type:'post',
									headers:{'X-CSRFToken':cToken},
									data:{'ccontent':update_c,'cno':cno},
									success:function(data){
										// alert('성공');
										// console.log(data);

										// 하단 댓글 리스트에 추가
										let hdata = ``;
										hdata += `<li class="name">${id} <span>[{{c.cdate|date:'Y-m-d H:i:s'}}]</span></li>
												<li class="txt">{{c.ccontent}}</li>
												<li class="btn">
													<a class="rebtn updateBtn">수정</a>
													<a class="rebtn deleteBtn" data-cno='{{c.cno}}'>삭제</a>
												</li>`

										// html 태그 추가
										$(`#${cno}`).html(hdata);

									},
									error:function(){
										alert('실패');
									}
								}); //수정 전송 ajax

								
							

							}); //saveBtn


						}); //jquery선언
					</script>

					<!-- 댓글-->

					<div class="replyWrite">
						<ul>
							<li class="in">
								<p class="txt">총 <span class="orange cNum">{{clist.count}}</span> 개의 댓글이 달려있습니다.</p>
								<p class="password">비밀번호&nbsp;&nbsp;<input type="password" class="replynum" /></p>
								<textarea class="replyType replyTxt"></textarea>
							</li>
							<li class="btn"><a class="replyBtn">등록</a></li>
						</ul>
						<p class="ntic">※ 비밀번호를 입력하시면 댓글이 비밀글로 등록 됩니다.</p>
					</div>

					<div class="replyBox">
						
						{% for c in clist %}
						<ul id='{{c.cno}}'>
							<li class="name">{{c.member.id}} <span>[{{c.cdate|date:'Y-m-d H:i:s'}}]</span></li>
							<li class="txt">{{c.ccontent}}</li>
							<li class="btn">
								<a class="rebtn updateBtn">수정</a>
								<a class="rebtn deleteBtn" data-cno='{{c.cno}}'>삭제</a>
							</li>
						</ul>
						{% endfor %}

						<!-- 비밀글 -->
						<!--
						<ul>
							<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
							<li class="txt">
								<a href="password.html" class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>
							</li>
						</ul>
						-->

						

					</div>
					<!-- 댓글 -->


					<!-- Btn Area -->
					<div class="btnArea btline">
						<div class="bRight">
							<ul>
								<li><a href="/board/list/" class="sbtnMini mw">목록</a></li>
							</ul>
						</div>
					</div>
					<!-- Btn Area -->
					
				</div>
			</div>
			<!-- contents -->


		</div>
	</div>
	<!-- container -->




	<div id="footerWrap">
		<div id="footer">
			<div id="fnb">
				<ul>
					<li class="left"><a href="#">개인정보취급방침</a></li>
					<li><a href="#">이용약관</a></li>
					<li class="left"><a href="#">이메일무단수집거부</a></li>
					<li><a href="#">고객센터</a></li>
					<li class="left brand"><a href="#">쟈뎅 브랜드 사이트</a></li>
				</ul>
			</div>
			
			<div id="finfo">
				<div id="flogo"><img src="/static/images/txt/flogo.gif" alt="JARDIN THE COFFEE CREATOR, SINCE 1984" /></div>
				<address>
					<ul>
						<li>㈜쟈뎅</li>
						<li>대표자 윤영노</li>
						<li class="tnone">주소 서울시 강남구 논현동 4-21번지 영 빌딩</li>
						<li class="webnone">소비자상담실 02)546-3881</li>
						<li>사업자등록번호 211-81-24727</li>
						<li class="tnone">통신판매신고 제 강남 – 1160호</li>
						<li class="copy">COPYRIGHT © 2014 JARDIN <span>ALL RIGHTS RESERVED.</span></li>
					</ul>
				</address>

				<div id="inicis"><img src="/static/images/ico/ico_inicis.png" alt="이니시스 결제시스템" /></div>
			</div>
		</div>
	</div>



</div>
</div>
</body>
</html>