<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{width:600px; text-align:center;}
    </style>
</head>
<body>
    <h2>학생 리스트</h2>
    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전공</th>
            <th>등록시간</th>
        </tr>
        {% for l in list %}
        <tr>
            <td>{{l.no}}</td>
            <td><a href='/students/view/{{l.no}}/'>{{l.name}}</a></td>
            <td>{{l.major}}</td>
            <td>{{l.sdate}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href='/'><button>메인으로</button></a>
    <a href='/students/write/'><button>등록하기</button></a>
</body>
</html>