<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{text-align:center;}
        table,th,td{border:1px solid black; border-collapse:collapse; text-align:center;}
        table{width:1000px; margin:10px auto;}
        th{height:25px;}
        td{height:20px;}
    </style>
    </style>
</head>
<body>
    <h2>학생성적리스트</h2>
    
    {% comment %} <p>{{s}}</p> {% endcomment %}
    {% comment %} <p>1,홍길동,100,100,100,300,100.0</p> {% endcomment %}
    
    {% if list %}
    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>국어점수</th>
            <th>수학점수</th>
            <th>영어점수</th>
            <th>합계</th>
            <th>평균</th>
        </tr>
        {% for s in list %}
        <tr>
            <td>{{s.no}}</td>
            <td>{{s.name}}</td>
            <td>{{s.kor}}</td>
            <td>{{s.eng}}</td>
            <td>{{s.math}}</td>
            <td>{{s.total}}</td>
            <td>{{s.avg}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>데이터가 없습니다.</p>
    {% endif %}
</body>
</html>