<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='csrf-token' content='{{csrf_token}}'>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
    <script>
        $(function(){
            $('.ajaxBtn').click(function(){
                alert('ajax버튼이 클릭되었습니다.');
                let id = $('.id').val();
                let name = $('.name').val();
                let csrfToken = $('meta[name="csrf-token"]').attr('content')
                console.log('아이디 :',id);
                console.log('이름 :',name);
                console.log('csrf토큰 :',csrfToken)

                // ajax사용 >> views.py로 값 전달
                
                $.ajax({
                    url:'/board/view2/',
                    type:'post',
                    headers:{'X-CSRFToken':csrfToken},
                    data:{'id':id,'name':name},
                    success:function(data){
                        alert('성공');
                        console.log('전송된 데이터 :',data);

                        // html 위치에 값을 넣어야 함
                        let hdata = ``
                        hdata += `<h4>아이디: ${data.id}</h4>`
                        hdata += `<h4>이름: ${data.name}</h4>`
                        hdata += `<h4>결과: ${data.result}</h4>`
                        hdata += `<h4>비밀번호: ${data.pw}</h4>`
                        $('.pw').append(hdata);

                        /*
                        $('.pw').prepend(`<h4>${data.id}</h4>`);  // prepend: 앞으로 추가 append: 뒤로 추가 html: 갱신
                        $('.pw').append(`<h4>${data.pw}</h4>`);
                        $('.pw').append(`<h4>${data.result}</h4>`);
                        $('.pw').append(`<h4>${data.name}</h4>`);
                        */
                    },
                    error:function(){
                        alert('실패');
                    }
                }); //ajax선언
                
                

            }); // ajaxBtn
        }); //jquery
    </script>
    <style>
        div{width:200px; height:100px; border:1px solid black; text-align:center; font-size:20px;}
    </style>
</head>
<body>
    <h2>게시판리스트</h2>
    <hr>
        <h3>1. 폼 데이터</h3>
        <form action='/board/view/' action='post' name='frm'>
            {% csrf_token %}
            <label>아이디</label>
            <input type='text' name='id'><br>
            <label>이름</label>
            <input type='text' name='name'>
            <input type='submit' name='전송'>
        </form>
    <hr>
        <h3>4. ajax로 전송하기</h3>
        <label>아이디</label>
        <input type='text' name='id' class='id'><br>
        <label>이름</label>
        <input type='text' name='name' class='name'>
        <input type='button' class='ajaxBtn' value='전송'>
    <div>결과: <span class='pw'></span></div>
    <ul>
        <li><a href='/board/view/'>글 상세보기</a></li>
    </ul>
</body>
</html>