{% extends 'base.html' %}
{% load static %}


{% block js-block %}
<script type="text/javascript">
$(document).ready(function() {
	


});
</script>
{% endblock js-block %}


{% block content %}
	<!--
	<script>
		if('')
	</script>
	-->
	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">고객게시판</a></li>
					<li><a href="#" id="leftNavi2">1:1문의</a></li>
					<li><a href="#" id="leftNavi3">FAQ</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>고객게시판</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>

					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li>{{view.btitle}}</li>
								</ul>
							</div>
							<div class="day">
								<p class="txt">작성일<span>{{view.bdate|date:'Y-m-d'}}</span></p>
							</div>
							<div class="day">
								<p class="txt">작성자<span>{{view.id}}</span></p>
							</div>
							<div class="day">
								<p class="txt">조회수<span>{{view.bhit}}</span></p>
							</div>
						</div>

						<div class="viewContents">
							{{view.bcontent}}
						</div>
						{% if view.bfile %}
						<div class="viewContents">
							<img src='/media/{{view.bfile}}/' style='width:50%;'>
						</div>
						{% endif %}
						{% if view.bfile2 %}
						<div class="viewContents">
							<img src='/media/{{view.bfile2}}/' style='width:50%;'>
						</div>
						{% endif %}
					</div>


					<!-- 이전다음글 -->
					<div class="pnDiv web">
						<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
							<caption>이전다음글</caption>
							<colgroup>
							<col width="100px" />
							<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th class="pre">PREV</th>
									<td><a href="#">상품 재입고는 언제 되나요?</a></td>
								</tr>

								<tr>
									<th class="next">NEXT</th>
									<td>다음 글이 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //이전다음글 -->
					<script>
						$(function(){
							$(document).on('click','.deleteBtn',function(){
								let cToken = $('meta[name="csrf-token"]').attr('content');
								let cno = $(this).closest('ul').attr('id');
								if(confirm('댓글을 삭제하시겠습니까?')){
									$.ajax({
										url:'/comment/cdelete/',
										type:'post',
										headers:{'X-CSRFToken':cToken},
										data:{'cno':cno},
										success:function(data){
											console.log(data);
											$('#'+cno).remove();

											let clistCount = Number($('.clistCount').text());
											clistCount -= 1;
											$('.clistCount').text(clistCount);

										},
										error:function(){
											alert('실패');
										}
									});
								};

								

							});//deleteBtn
						});
					</script>
					

					<!-- 댓글-->
					<div class="replyWrite">
						<ul>
							<li class="in">
								<p class="txt">총 <span class="orange clistCount">3</span> 개의 댓글이 달려있습니다.</p>
								<p class="password">비밀번호&nbsp;&nbsp;<input type="password" class="replynum" /></p>
								<textarea class="replyType"></textarea>
							</li>
							<li class="btn"><a href="#" class="replyBtn">등록</a></li>
						</ul>
						<p class="ntic">※ 비밀번호를 입력하시면 댓글이 비밀글로 등록 됩니다.</p>
					</div>

					<div class="replyBox">
						{% for c in clist %}
						<ul id='{{c.cno}}'>
							<li class="name"> (익명) <span>{{c.cdate|date:'Y-m-d H:i:s'}}</span></li>
							<li class="txt">{{c.ccontent}}</li>
							<li class="btn">
								<a href="#" class="rebtn">수정</a>
								<a href="#" class="rebtn deleteBtn">삭제</a>
							</li>
						</ul>
						{% endfor %}
						<!-- 비밀글
						<ul>
							<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
							<li class="txt">
								<a href="password.html" class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>
							</li>
						</ul>
						-->
						<!-- 수정입력 
						<ul>
							<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
							<li class="txt"><textarea class="replyType"></textarea></li>
							<li class="btn">
								<a href="#" class="rebtn">저장</a>
								<a href="#" class="rebtn">취소</a>
							</li>
						</ul>
						-->
					</div>
					<!-- //댓글 -->
					<!--
					<script>
						function deleteBtn(){
							if(confirm('게시글을 삭제하시겠습니까?')){
								location.href='/customer/delete/{{customer.bno}}/'
							};
						};
					</script>
					-->
					<!-- Btn Area -->
					<div class="btnArea btline">
						<div class="bRight">
							<ul>
								{% comment %} {% if customer.member.id ==  %} {% endcomment %}
								<li><a href="/customer/update/{{view.bno}}/" class="nbtnbig mw">수정</a></li>
								<li><a onclick='deleteBtn()' class="nbtnbig mw">삭제</a></li>
								<li><a onclick='' class="sbtnMini mw">목록</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->
					
				</div>
			</div>
			<!-- //contents -->


		</div>
	</div>
	<!-- //container -->
{% endblock content %}