{% extends 'base.html' %}
{% load static %}

{% block js-block %}
<script type="text/javascript">
$(document).ready(function() {
	


});
</script>
{% endblock js-block %}

{% block content %}
{% if not request.session.session_id %}
	<script>
		alert('로그인이 필요합니다.');
		location.href='/member/login/';
	</script>
{% endif %}
	<script>

		if('{{msg}}'=='1'){
			alert('글쓰기가 저장되었습니다.');
			location.href = '/customer/list/';
		}
	</script>
	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="/">HOME</a></li>
				<li><a href="/customer/list/">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">COMMUNITY<span>커뮤니티</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">체험단</a></li>
					<li><a href="#" id="leftNavi2">고객게시판</a></li>
					<li class="last"><a href="#" id="leftNavi3">ENJOY COFFEE</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(2,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="mypage">
					<h2><strong>고객게시판</strong><span>쟈뎅 제품을 구매하신 회원님들의 소중한 후기입니다.</span></h2>
					<form action='{% url "customer:write" %}' method='post' name='cFrm' enctype='multipart/form-data'>
					{% csrf_token %}
					<div class="productTab normaltab">
						<ul>
							<li><a href="#">포토 구매후기</a></li>
							<li class="last"><a href="#" class="on">상품평</a></li>
						</ul>						
					</div>

					<div class="checkDivTab">
						<table summary="분류, 구매여부, 평가, 제목, 상세 내용 순으로 상품평을 작성 하실수 있습니다." class="checkTable" border="1" cellspacing="0">
							<caption>상품평 작성</caption>
							<colgroup>
							<col width="19%" class="tw30" />
							<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row"><span>제목</span></th>
									<td>
										<input type="text" name='btitle' class="wlong" />
									</td>
								</tr>
								<tr>
									<th scope="row"><span>작성자</span></th>
									<td>
										{{request.session.session_id}}
									</td>
								</tr>
								<tr>
									<th scope="row"><span>상세 내용</span></th>
									<td>
										<textarea name='bcontent' class="tta"></textarea>
									</td>
								</tr>								
								<tr>
									<th scope="row"><span>이미지1</span></th>
									<td>
										<input type="file" name='bfile' class="fileType" />
									</td>
								</tr>
								<tr>
									<th scope="row"><span>이미지2</span></th>
									<td>
										<input type="file" name='bfile2' class="fileType" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</form>
					<script>
						function cancelBtn(){
							if(confirm('글쓰기를 취소하시겠습니까?')){
								location.href='/customer/list/';
							};
						}; // cancelBtn

						function saveBtn(){
							alert('글쓰기를 저장합니다.');
							cFrm.submit();
						};// saveBtn
					</script>

					<!-- Btn Area -->
					<div class="btnArea">
						<div class="bCenter">
							<ul>																
								<li><a onclick='cancelBtn()' class="nbtnbig">취소</a></li>
								<li><a onclick='saveBtn()' class="sbtnMini">확인</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->
					
				</div>
			</div>
			<!-- //contents -->


		</div>
	</div>
	<!-- //container -->
{% endblock content%}