<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{text-align:center;}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        table{width:900px;text-align:center;margin:0 auto;}
        th,td{height:40px;}
        div{width:400px; margin:15px auto; display:flex; justify-content:center;}
        button{width:150px; height:50px; font-size:20px; margin:0 5px; }
    </style>
</head>
<body>
    <h2>학생 리스트</h2>
    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>학과</th>
            <th>등록날짜</th>
        </tr>
        {% for l in list %}
        <tr>
            <td>{{l.no}}</td>
            <td>
                <a href='/students/view/{{l.no}}/'>{{l.name}}</a>
            </td>
            <td>{{l.major}}</td>
            <td>{{l.sdate}}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href='/'><button>HOME</button></a>
        <a href='/students/write'><button>학생 등록</button></a>
    </div>
</body>
</html>